html {
    scroll-behavior: smooth;
}
body {
    background-image: url(img-fondo.png);
    background-attachment: fixed;
    margin: 0px;
}
header, section, footer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    color:aliceblue;
}
header {
    height: 120px;
    background-color: #7b9ec2;
    position: sticky;
    padding-top: 10px;
    border: 2px solid whitesmoke;
}
#marca {
    width: 180px;
    height: 60px;
    float: left;
    margin-left: 0px;
    margin-bottom: 10px;
}
h1 {
    text-align: center;
}
#botonera {
    width: 550px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}
#botonera ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
#botonera ul li {
    display: inline;
}
#botonera ul li a {
    display: inline-block;
    width: 120px;
    height: 60px;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
}
#botonera ul li a:hover {
    background-color: #6f8499;
    font-weight: bolder;
    border: 2px solid whitesmoke;
}
h2 {
    margin: 0px;
    text-align: center;
}
#inicio {
    height: 550px;
    background: rgba(0, 0, 0, 0.541);
}
#img_1 {
    width: 460px;
    height: 530px;
    float: left;
    margin: 10px;
}
.ajuste_img_1 {
    width: 100%;
}
.ocultar_mostrar {
    display: none;
}
#txt_1 {
    width: 460px;
    height: 260px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
#txt_2 {
    width: 460px;
    height: 260px;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
#productos {
    height: 680px;
    background: rgba(0, 0, 0, 0.541);
}
#img_2 {
    width: 938px;
    height: 330px;
    margin-left: auto;
    margin-right: auto;
}
#txt_3 {
    width: 306px;
    height: 340px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
}
#img_3 {
    width: 306px;
    height: 340px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
#txt_4 {
    width: 306px;
    height: 340px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
}
#servicios {
    height: 380px;
    background: rgba(0, 0, 0, 0.541);
}
#img_4 {
    width: 540px;   
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#txt_5 {
    width: 390px;   
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
}
#contacto {
    height: 500px;
    background: rgba(0, 0, 0, 0.541);
    position: relative;
    padding: 30px;
}
iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.contenedor_formulario {
    background: rgba(0, 0, 0, .3);
    width: 380px;
    border-radius: 10px;
    border-width: 4px;
    border-color: whitesmoke;
    padding: 20px;
    float: right; 
    position: relative;
}
input[type=submit] {
    background-color: #8f9ead;
    color: whitesmoke;
}
input[type=submit]:hover {
    background-color: black;
}
footer {
    height: 110px;
    background-color: #7b9ec2;
    border: 2px solid whitesmoke;
}
#datos {
    height: 105px;
    width: 350px;
    background-color: #8f9ead;
    float: left;
    border-right: 2px solid whitesmoke;
    padding: 10px;
    font-size: 12px;
}
#datos ul {
    list-style-type: none;
}
#btn_redes {
    height: 60px;
    width: 300px;
    float: right;
    margin-right: 10px;
    margin-top: 20px;
}
#btn_redes i {
    font-size: 2rem;
    margin: 15px;
}

@media all and (min-width: 600px) and (max-width: 1023) {

    header, section, footer {
        width: 580px;
    }
    #marca {
        width: 125px;
        height: 8px;
        margin-top: 15px;
        font-size: small;
        text-align: center;
    }  
    #botonera ul li a {
        width: 90px;
        height: 40px;
        text-align: end;
    }  
    .ocultar_mostrar {
        display: block;
    }
    #img_1 {
        width: 250px;
        height: auto;
        margin: 5px;
    }
    #txt_1 {
        width: 315px;
        height: auto;
        margin-top: 0px;
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 5px;
    }
    #txt_2 {
        width: 590x;
        height: auto;
        float: none;
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 35px;
    }
    #productos {
        height: 680px;
    }
    #img_2 {
        width: 570px;
        height: auto;
    }
    #txt_3 {
        width: 185px;
        height: auto;
        margin-left: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 5px;
    }
    #img_3, #img_oculta {
        width: 185px;
        height: auto;
        margin-left: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
    } 
    #txt_4{
        width: 185px;
        height: auto;
        margin-left: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 5px;
    }
    #servicios {
        height: 260px;
    }
    #img_4 {
        width: 355px;
        height: 250px;
        margin-left: 5px;  
        margin-top: 5px;
    }
    #txt_5 {
        width: 210px;
        height: 250px;
        margin-top: 5px;
        margin-right: 5px;
    }

} /* Fin @media 600 a 1023px */

@media all and (max-width: 599px) {

    header, section, footer {
        width: 90%;
    }
    header {
        height: auto;
        position: relative;
    }
    #marca {
        width: 100%;
        height: auto;
        margin-top: 5px;
        margin-left: 5px;
    }
    h1 {
        text-align: center;
    }
    #botonera {
        width: 100%;
        height: auto;
    }
    #botonera ul li {
        display: block;
    }
    #botonera ul li a {
        width: 100%;
    }
    #inicio {
        height: auto;
    }
    #img_1 {
        width: 100%;
        height: auto;
        float: none;
        margin: 0px;
    }
    #txt_1 {
        width: 100%;
        height: auto;
        float: none;
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 5px;  
    }
    #txt_2 {
        width: 100%;
        height: auto;
        float: none;
        margin-right: 5px;
        margin-bottom: 0px;
        padding: 5px;
    }
    #productos {
        height: auto;
    }
    #img_2 {
        width: 100%;
        height: auto;
        padding: 0px;
    }
    #txt_3 {
        width: 100%;
        height: auto;
        float: none;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding: 0px;
    }
    #img_3 {
        width: 100%;
        height: auto;
        float: none;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    #txt_4 {
        width: 100%;
        height: auto;
        float: none;
        margin-left: 5px;
        margin-bottom: 0px;
        margin-top: 5px;
        padding: 5px;
    }
    #servicios {
        height: auto;
    }
    #img_4 {
        width: 100%;
        height: auto;
        float: none;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-top: 0px;
    }
    #txt_5 {
        width: 100%;
        height: auto;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding: 0px;
    }
    footer {
        height: 160px;
    }
    #datos {
        height: 100px;
        width: 100%;
        float: none;
        margin: 0px;
    }
    #btn_redes {
        height: 60px;
        width: 100%;
        margin: 0px;
    }    

} /* Fin @media -599px */